* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: chocolate;
}
.hero {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: black;
  background-image: url(./tea.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
